.container {
  padding: 1.5rem 15%;
  max-width: $max-width;
  margin: 0 auto;

  h2 {
    @include subtitle;
  }

  .dishes {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    gap: 1.5rem;

    @media screen and (min-width: $tablet-screen) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
