.title {
  @include display-title;
  text-align: center;
}

.tables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  max-width: 120rem;
  width: 100%;
}

@mixin input {
  border: 1px solid #e5e5e5;
  border-radius: 5px;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  color: #9d9d9d;
  margin: 0.8rem;
  width: 100%;
  box-sizing: border-box;
  &:focus {
    outline: none;
    border: 1px solid #9d9d9d;
  }
}

.box-container {
  border-radius: 5px;
  border: 1px solid #e5e5e5;
  margin: 3.2rem;
  padding: 3.2rem 1.6rem 1.6rem;
  display: flex;
  flex-direction: row;
  position: relative;

  h2 {
    @include subtitle;
    color: #9d9d9d;
    position: absolute;
    top: -6rem;
    left: 2rem;
    background-color: white;
    padding: 0 1.6rem;
  }

  span {
    display: flex;
    flex-direction: column;
    margin: 0.8rem;
    label {
      @include section-title;
      margin-right: 1.6rem;
    }

    &.labels {
      margin: 2.4rem;
      gap: 3.4rem;
      label {
        margin: 0;
      }
    }

    select {
      @include input;
    }
    input {
      @include input;
    }
    textarea {
      @include input;
    }
  }
}

.booking-information {
  @extend .box-container;
}

.customer-information {
  @extend .box-container;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 3.2rem;
}
