@import 'colors';
@import 'normalize';
@import 'mixins';
@import 'typography';
@import 'constants';

html {
  font-size: 62.5%;
  font-family: 'Markazi Text', serif;
}

a,
a:visited {
  color: $primary-1;
}

a:hover {
  color: $secondary-4;
}

a:active {
  color: $secondary-1;
}
