.title {
  @include display-title;
  text-align: center;
  margin: 0;
}

.main {
  padding: 3.2rem;

  .tables {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: $max-width;
    position: relative;
    height: 500px;

    .indoors {
      border: 1px solid #e5e5e5;
      border-radius: 8px 8px 0 0;
      height: inherit;
      width: 100%;
      position: relative;
    }

    .door {
      position: absolute;
      right: 40%;
      bottom: 0;
      width: 50px;
      height: 8px;
      background-color: $secondary-2;
      box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5);
    }

    .outdoors {
      border: 1px solid #e5e5e5;
      border-radius: 0 0 8px 8px;
      border-top: none;
      height: inherit;
      width: 100%;
      position: relative;
    }

    h2 {
      position: absolute;
      color: white;
      width: fit-content;
      height: fit-content;
      padding: 4px;
      border-radius: 4px;
      &.indoorsLabel {
        background-color: $primary-1;
        top: 1rem;
        right: 1rem;
      }
      &.outdoorsLabel {
        background-color: $secondary-1;
        bottom: 1rem;
        right: 1rem;
      }
    }
  }

  @media screen and (min-width: $mobile-screen) {
    padding: 3.2rem 10rem;
    .tables {
      flex-direction: row;

      h2 {
        &.indoorsLabel {
          top: 1rem;
          left: 2rem;
        }
        &.outdoorsLabel {
          top: 1rem;
          right: 2rem;
        }
      }

      .indoors {
        border-radius: 8px 0 0 8px;
      }

      .door {
        right: 0;
        bottom: 50%;
        width: 8px;
        height: 50px;
      }

      .outdoors {
        width: 60%;
        border-radius: 0 8px 8px 0;
        border-left: none;
        border-top: 1px solid #e5e5e5;
      }
    }
  }
}

.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 1.6rem 0 6.4rem;
}
