.testimonials {
  padding: 1.5rem 15%;
  max-width: $max-width;
  margin: 0 auto;

  h2 {
    @include subtitle;
    margin: 1.5rem;
  }

  .testimonials__list {
    display: flex;
    flex-direction: column;
    gap: 6rem;

    @media screen and (min-width: $mobile-screen) {
      flex-direction: row;
      justify-content: space-around;
    }
  }
}
