.nav {
  .desktop {
    display: flex;
    padding: 1.5rem 6rem;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
      gap: 1.5rem;

      li {
        @include highlight-text;
      }
    }
  }

  .mobile {
    @include section-title;
    position: fixed;
    background-color: white;
    width: 100vw;
    top: 5rem;
    margin: 0;
    box-sizing: border-box;
    z-index: 100;
    transform: translateX(-100%);

    ul {
      list-style: none;
      margin: 0;
      padding: 1.5rem;

      li {
        padding: 1rem 0;
      }
    }

    &.open {
      transform: translateX(0);
    }
  }
}

.menu-button {
  @include remove-button-styles;
}
