.dish {
  @include border-radius;
  @include shadow;
  border: solid 1px $secondary-4;
  overflow: hidden;
  background-color: $secondary-3;

  .image {
    width: 100%;
    height: 25rem;
    object-fit: cover;
  }

  .body {
    padding: 1.5rem;

    .heading {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .delivery {
      display: flex;
    }

    h2 {
      @include card-title;
    }
    p {
      @include paragraph-text;
    }
  }

  @media screen and (min-width: $mobile-screen) {
    width: 30rem;
    flex-direction: row;
    justify-content: space-around;
  }
}
